<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhoWantsToBeMillionaire.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WhoWantsToBeMillionaire.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalPrize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberCorrectAnswers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberIncorrectAnswers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberHintsUsed" serializeAs="String">
                <value>0</value>
            </setting>
        </WhoWantsToBeMillionaire.Properties.Settings>
    </userSettings>
</configuration>